# This is Git's per-user configuration file.
[user]
	name = Thomas Grusz
	email = thomas.grusz@gmail.com
[alias]
	lo = log --oneline
	loa = log --graph --decorate --oneline --all
	ac = !git add -A && git commit -m
	pruneupstream = !git remote update --prune && git branch -vv | awk \"/: gone]/{print $1}\" | xargs git branch -d
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = thomas.grusz@gmail.com
	smtpServerPort = 587
